.inlineForm{
    width:25%;
    display:inline-block;
}
.form2{
    width:45%;
    display:inline-block;
}
.form3{
    width:30%;
    display:inline-block;
}
.form4{
    width:22%;
    display:inline-block;
}